/* GENERAL STYLES */

html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

hr {
  max-width: 80px;
  border: 2px solid #EDEAE5;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h4 {
  color: #30B9C1;
}

p {
  font-size: 1.1rem;
}

ul {
  padding-left: 20px;
}

i {
  color: #026670;
  cursor: pointer;
}

i:hover {
  opacity: 0.7
  
}

.content-border {
  position: absolute;
  border: 1px solid #fff;
  left: 100px;
  top: 110px;
  bottom: 110px;
  right: 100px;
  z-index: 1;
}

.txt-panel {
  color: #fff;
  margin: 0;
  padding: 80px;
}

.btn {
  position: relative;
  font-weight: 300;
  color: #000;
  border-radius: 0;
  text-transform: uppercase;
  z-index: 99;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background: none;
  border: 1px solid #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #30B9C1 !important;
  border-color: #30B9C1;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/* NAVBAR SECTION */

nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #ffffff;
}

.navbar {
  padding: 10px 50px;
}

.navbar-brand {
  padding: 2px 8px;
}

.navbar-brand .tagline {
  font-size: 0.7em;
  padding-left: 2px;
  padding-bottom: 5px;
  color: #026670;
}

.nav-link, .navbar-brand {
  -webkit-transition: color 0.5s; 
  transition: color 0.5s;
  }

.nav-link:hover {
  color: #EDEAE5;
}

.navbar-brand:hover {
  color: #EDEAE5;
}

.nav-active {
  color: #EDEAE5;
}

/* HEADER/MASTHEAD SECTION */

.hero-image {
  position: absolute;
  width: 90%;
  height: 90%;
  min-height: 600px;
  top: 60px;
  left: 5%;
  background-image: url("../images/garden_aqua.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0;
  animation: fade-in 1.2s linear 1.2s forwards;
}

header.masthead {
  position: relative;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  min-height: 680px;
  z-index: 1;
}

header.masthead .main-title {
  width: 90%;
  padding: 30px 20px 10px 20px;
  margin: auto;
  color: #000;
  border: 1px solid #000;
  transform: scaleX(0);
  animation: expand 0.6s linear 0.3s forwards;
}

@keyframes expand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

header.masthead h1 {
  font-size: 3rem;
}

header.masthead h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.main-title h1, h3 {
  opacity: 0;
  animation: fade-in 1.2s linear 1.2s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header.masthead p {
  font-weight: 300;
}

.line {
  width: 0;
  height: 265px;
  border-left: 1px solid #000;
  position: absolute;
  top: 100%;
  display: block;
  left: 0;
  right: 0;
  margin: 0px auto;
  transform: scaleY(0);
  transform-origin: top;
  animation: draw 0.6s linear 0.5s forwards;
}

@keyframes draw {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* CONTENT SECTIONS */

.content-panel {
  position: relative;
  padding: 5rem;
}

section:nth-child(odd) {
  background-color: #EDEAE5; 
}

section:nth-child(odd) hr {
  border-color: #DBD8D4;
}

/* ABOUT SECTION */

section.about {
  background-color: #fff;
}

section.about.content-panel {
  position: relative;
  padding-bottom: 0;
}

/* EXPERIENCE SECTION */

section.experience {
  background-color: #fff;
}

section.experience .experience-text {
  font-size: 0.8em;
  z-index: 2;
}

section.experience .yellow-bg {
  background-color: #FCB830;
}

section.experience .profile {
  padding: 0;
}

section.experience .profile-photo {
  background-image: url("../images/golden_gate_bridge_cropped.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


/* PROJECTS SECTION

  Please refer to projects-stylesheet.css */


/* SKILLS SECTION */

/* CONTACT SECTION */

section.contact {
  background-color: #EDEAE5;
}

section.contact .contact-text {
  z-index: 2;
}

section.contact .aqua-bg {
  background-color: #30B9C1;
}

section.contact i {
  margin: 0 20px;
}

section.contact .contact-form {
  padding: 0;
}

section.contact .form-content {
  background-image: url("https://images.unsplash.com/photo-1511183436981-723dfccbbb8c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=741&q=80");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

section.contact .form-content form {
  padding: 80px;
  z-index: 2;
}

section.contact .form-content form h3 {
  color: #fff;
}

section.contact .form-content input {
  background-color: #FAFAFA;
  width: 100%;
  margin: 10px;
  padding: 5px;
}

section.contact .form-content textarea {
  background-color: #FAFAFA;
  width: 100%;
  height: 200px;
  margin: 10px;
  padding: 5px;
}

section.contact .form-content .btn-primary {
  background-color: #30B9C1;
  color: #fff;
  border: 1px solid #9A9A9A;
}

section.contact .form-content .btn-primary:hover {
  border: 1px solid #30B9C1;
}

/* FOOTER */

footer {
  background-color: #fff;
  padding: 2rem;
  border-top: 1px solid #e5e5e5;
}

footer i {
  padding: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
}



/* MEDIA QUERIES */

@media (max-width: 700px) {
  .hero-image {
    background-position: top;
  }
  
  .line {
    height: 220px;
  }
  
  .content-panel {
    padding: 1rem;
  }

  .content-border {
    left: 10px;
    right: 10px;
    top: 30px;
    bottom: 30px;
  }

  section.experience .experience-text {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
  
}

@media only screen and (max-width: 852px) {
  .content-panel {
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  h3,h4,h5,h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  .content-panel {
    padding: 2rem;
  }
  
  .content-border {
    left: 40px;
    right: 40px;
    top: 60px;
    bottom: 60px;
  }

}

@media (min-width: 990px) {
  header.masthead {
    height: 100vh;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3rem;
  }
  
}



